body {
  background-color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}

nav {
  width: 440px;
  height: 50px;
  background-color: black;
}

.container {
  margin: 0 auto;
  width: 440px;
  background-color: #dadada;
  vertical-align: middle;
}

.arrow-left {
  padding: 15px;
}

.restaurant-list {
  padding: 0px;
}

.content {
  width: 90%;
  float: left;
}

.arrow {
  width: 10%;
  padding-top: 15px;
  float: right;
  vertical-align: middle;
}

.location h1  {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 0%;
}

.location h3 {
  font-size: 13px;
  font-weight: normal;
  line-height: 70%;
}

.location {
  height: 50px;
  border-bottom: 1px solid #696969;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom:15px;
}

.location:hover { background-color: grey; } /* mouse over */
